/Libreria/nbproject/private/
/Libreria/build/
/Libreria_Clase/nbproject/private/
/Libreria_Clase/build/
/Libreria_Clase/Libreria_Clase/build/
/Libreria_Clase/Libreria_Clase/nbproject/private/
/Biblioteca/nbproject/private/
/Biblioteca/build/